.movie-listing-form {
    font-size: 18px;
    padding-top: 15px;
}

.movie-listing-form input {
    padding: 5px;
}

.movie-listing-form label {
    display: block;
    padding-bottom: 10px;
}

.form-group {
    padding-bottom: 15px;
}

.full {
    width: 100%;
}

.mins {
    font-size: 13px;
}